In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

In [2]:
url = '../../../Gudang/mpg.csv'
df = pd.read_csv(url)

In [5]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa

In [4]:
df.drop('name',1,inplace=True)

## Hypothesis Testing

### Membandingkan mean_squared_error pada model yang diberikan LabelEncoder langsung atau pd.get_dummies() terlebih dahulu

### A Section (LabelEncoder)

In [ ]:
le = LabelEncoder()

df['origin']