### 0 - Python I/O

In [ ]:
print("Python")
print("Hello")

Python
Hello

In [ ]:
print('Python')

Python

In [ ]:
print("Python Programming Language")

Python Programming Language

In [ ]:
print(40)

40

In [ ]:
print(20.1)

20.1

In [ ]:
print("True")

True

In [ ]:
print([n for n in range(5)])

[0, 1, 2, 3, 4]

### 1 - Python Variable

In [ ]:
nama = "Eminem"
umur = 20
tinggi = 184.2
male = True

In [ ]:
print(nama)
print(umur)
print(tinggi)
print(male)

Eminem
20
184.2
True

In [ ]:
print("nama saya adalah : "+nama+"\nsaya berumur : "+str(umur))

nama saya adalah : Eminem
saya berumur : 20

In [ ]:
var_x = var_y = "Hello"

print(var_x)
print(var_y)

Hello
Hello

In [ ]:
var_a, var_b = 12, 10

print(var_a)
print(var_b)

12
10

In [ ]:
var_X = "Besar"
var_x = "Kecil"

print(var_X)
print(var_x)

Besar
Kecil

### 3 - Python Singular Data Types

In [ ]:
umur = 100

print(umur)

100

In [ ]:
umur = 100

print(type(umur))

<class 'int'>

In [ ]:
tinggi = 150.4

print(tinggi)
print(type(tinggi))

150.4
<class 'float'>

In [ ]:
umur = "100"

print(type(umur))

<class 'str'>

In [ ]:
male = True

print(type(male))

<class 'bool'>

#### String to float

In [ ]:
nama = "Poseidon"
print(type(nama))

try:
    nama_float = float(nama)
    print(type(nama_float))
except:
    print("Sorry, Value Error ! Couldn't Convert String to Float")

<class 'str'>
Sorry, Value Error ! Couldn't Convert String to Float

In [ ]:
umur = "40"
print(type(umur))

umur_float = float(umur)
print(type(umur_float))

<class 'str'>
<class 'float'>

#### String to Integer

In [ ]:
nama = "Poseidon"
print(type(nama))

try:
    nama_int = int(nama)
    print(type(nama_int))
except:
    print("Sorry, Value Error ! Couldn't Convert String to Integer")

<class 'str'>
Sorry, Value Error ! Couldn't Convert String to Integer

In [ ]:
umur = "40"
print(type(umur))

umur_int = int(umur)
print(type(umur_int))

<class 'str'>
<class 'int'>

In [ ]:
panjang = 5

print(type(panjang)) # int

pjg_float = float(panjang)

print(type(pjg_float)) # float

<class 'int'>
<class 'float'>

In [ ]:
badan = 3.5

print(type(badan)) # float

badan_string = str(badan)
print(type(badan_string))

<class 'float'>
<class 'str'>

In [ ]:
banyak = 1500

print(type(banyak))

banyak_String = str(banyak)

print(type(banyak_String))

<class 'int'>
<class 'str'>

### 4 - Python Operator

<h1 align="center">Tugas Ticket 23 Oktober 2021</h1>
<ol>
    <li>Operator Aritmatika</li>
    <li>Operator Penugasan</li>
    <li>Operator Perbandingan</li>
    <li>Operator Logical</li>
</ol>

#### Operator Aritmatika

In [1]:
print(20 + 30)

50

In [2]:
input1 = int(input("Masukkan input satu : "))
input2 = int(input("Masukkan input dua : "))

add = input1 + input2

print("Hasil tambah : {}".format(add))

Masukkan input satu : 10
Masukkan input dua : 4
Hasil tambah : 14

In [4]:
input1 = int(input("Masukkan input satu : "))
input2 = int(input("Masukkan input dua : "))

sub = input1 - input2

print("Hasil kurang : {}".format(sub))

Masukkan input satu : 29
Masukkan input dua : 9
Hasil kurang : 20

In [8]:
input1 = int(input("Masukkan input satu : "))
input2 = int(input("Masukkan input dua : "))

multiply = input1 * input2

print("Hasil pembagian : {}".format(multiply))

Masukkan input satu : 10
Masukkan input dua : 10
Hasil pembagian : 100

In [9]:
input1 = int(input("Masukkan input satu : "))
input2 = int(input("Masukkan input dua : "))

if input2 == 0:
  raise ValueError("Maaf, tidak bisa dibagi 0")

div = input1 / input2

print("Hasil pembagian : {}".format(div))

Masukkan input satu : 90
Masukkan input dua : 9
Hasil pembagian : 10.0

### X - Python If Else

In [ ]:
nilai = 70

if nilai == 70:
    print("Selamat, nilai anda 70")

Selamat, nilai anda 70

In [ ]:
nilai = 30

if nilai > 70:
    print("Selamat, anda lulus !")
else:
    print("Maaf, anda tidak lulus !")

Maaf, anda tidak lulus !

In [ ]:
nilai = 45

if nilai > 70:
    print("Nilai Anda A")
elif nilai > 40 and nilai < 70:
    print("Nilai Anda B")
else:
    print("Nilai Anda C")

Nilai Anda B

<b>Ternary Operation</b>

In [ ]:
a = 10
b = 5

if a > b:print("A lebih besar dari B")

A lebih besar dari B