### 0 - Python I/O

In [1]:
print("Python")
print("Hello")

Python
Hello

In [3]:
print('Python')

Python

In [4]:
print("Python Programming Language")

Python Programming Language

In [30]:
print(40)

40

In [16]:
print(20.1)

20.1

In [35]:
print("True")

True

In [7]:
print([n for n in range(5)])

[0, 1, 2, 3, 4]

### 1 - Python Variable

In [19]:
nama = "Eminem"
umur = 20
tinggi = 184.2
male = True

In [20]:
print(nama)
print(umur)
print(tinggi)
print(male)

Eminem
20
184.2
True

In [37]:
print("nama saya adalah : "+nama+"\nsaya berumur : "+str(umur))

nama saya adalah : Eminem
saya berumur : 20

In [41]:
var_x = var_y = "Hello"

print(var_x)
print(var_y)

Hello
Hello

In [11]:
var_a, var_b = 12, 10

print(var_a)
print(var_b)

12
10

In [12]:
var_X = "Besar"
var_x = "Kecil"

print(var_X)
print(var_x)

Besar
Kecil

### 3 - Python Singular Data Types

In [1]:
umur = 100

print(umur)

100

In [3]:
umur = 100

print(type(umur))

<class 'int'>

In [1]:
tinggi = 150.4

print(tinggi)
print(type(tinggi))

150.4
<class 'float'>

In [9]:
umur = "100"

print(type(umur))

<class 'str'>

In [4]:
male = True

print(type(male))

<class 'bool'>

#### String to float

In [15]:
nama = "Poseidon"
print(type(nama))

try:
    nama_float = float(nama)
    print(type(nama_float))
except:
    print("Sorry, Value Error ! Couldn't Convert String to Float")

<class 'str'>
Sorry, Value Error ! Couldn't Convert String to Float

In [16]:
umur = "40"
print(type(umur))

umur_float = float(umur)
print(type(umur_float))

<class 'str'>
<class 'float'>

#### String to Integer

In [17]:
nama = "Poseidon"
print(type(nama))

try:
    nama_int = int(nama)
    print(type(nama_int))
except:
    print("Sorry, Value Error ! Couldn't Convert String to Integer")

<class 'str'>
Sorry, Value Error ! Couldn't Convert String to Integer

In [19]:
umur = "40"
print(type(umur))

umur_int = int(umur)
print(type(umur_int))

<class 'str'>
<class 'int'>

In [20]:
panjang = 5

print(type(panjang)) # int

pjg_float = float(panjang)

print(type(pjg_float)) # float

<class 'int'>
<class 'float'>

In [21]:
badan = 3.5

print(type(badan)) # float

badan_string = str(badan)
print(type(badan_string))

<class 'float'>
<class 'str'>

In [24]:
banyak = 1500

print(type(banyak))

banyak_String = str(banyak)

print(type(banyak_String))

<class 'int'>
<class 'str'>

### 4 - Python Operator

<h1 align="center">Tugas Ticket 23 Oktober 2021</h1>
<ol>
    <li>Operator Aritmatika</li>
    <li>Operator Penugasan</li>
    <li>Operator Perbandingan</li>
    <li>Operator Logical</li>
</ol>

### X - Python If Else

In [1]:
nilai = 70

if nilai == 70:
    print("Selamat, nilai anda 70")

Selamat, nilai anda 70

In [2]:
nilai = 30

if nilai > 70:
    print("Selamat, anda lulus !")
else:
    print("Maaf, anda tidak lulus !")

Maaf, anda tidak lulus !

In [3]:
nilai = 45

if nilai > 70:
    print("Nilai Anda A")
elif nilai > 40 and nilai < 70:
    print("Nilai Anda B")
else:
    print("Nilai Anda C")

Nilai Anda B

<b>Ternary Operation</b>

In [4]:
a = 10
b = 5

if a > b:print("A lebih besar dari B")

A lebih besar dari B