## 1. Basic Collectionary Data Types

### 1.1 - List<br><br>List items are ordered, changeable, and allow duplicate values.

In [1]:
var_list = []

print(var_list)

[]

In [2]:
list_nama = ['Ani','Budi','Dika']

print(list_nama)

['Ani', 'Budi', 'Dika']

#### Menambahkan nilai ke dalam List

In [3]:
list_nama.append('Farah')

print(list_nama)

['Ani', 'Budi', 'Dika', 'Farah']

#### List memperbolehkan duplikasi

In [4]:
list_nama.append('Ani')

print(list_nama)

['Ani', 'Budi', 'Dika', 'Farah', 'Ani']

<p style="text-align:center"><b>Indexing</b></p>
<table border=1>
    <tr>
        <td>0</td>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>-3</td>
        <td>-2</td>
        <td>-1</td>
    </tr>
</table>

#### Merubah nilai List

In [5]:
list_nama[-1] = 'Heri'

print(list_nama)

['Ani', 'Budi', 'Dika', 'Farah', 'Heri']

### 1.2 - Tuple<br><br>A tuple is a collection which is ordered and unchangeable.

### 1.3 - Set<br><br>A set is a collection which is both unordered and unindexed.

### 1.4- Dictionary<br><br>A dictionary is a collection which is ordered*, changeable and does not allow duplicates.<br><br>As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

## 2. Intermediate Collectionary Data Types