## 1. Basic Collectionary Data Types

### 1.1 - List<br><br>List items are ordered, changeable, and allow duplicate values.

In [1]:
var_list = []

print(var_list)

[]

In [2]:
list_nama = ['Ani','Budi','Dika']

print(list_nama)

['Ani', 'Budi', 'Dika']

#### Menambahkan nilai ke dalam List

In [3]:
list_nama.append('Farah')

print(list_nama)

['Ani', 'Budi', 'Dika', 'Farah']

#### List memperbolehkan duplikasi

In [4]:
list_nama.append('Ani')

print(list_nama)

['Ani', 'Budi', 'Dika', 'Farah', 'Ani']

<p style="text-align:center"><b>Indexing</b></p>
<table border=1>
    <tr>
        <td>0</td>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>-3</td>
        <td>-2</td>
        <td>-1</td>
    </tr>
</table>

#### Merubah nilai List

In [5]:
list_nama[-1] = 'Heri'

print(list_nama)

['Ani', 'Budi', 'Dika', 'Farah', 'Heri']

In [6]:
list_nama[0] = 'Andika'

print(list_nama)

['Andika', 'Budi', 'Dika', 'Farah', 'Heri']

In [7]:
list_nama[0:2] = ['Annisa','Budiman']

print(list_nama)

['Annisa', 'Budiman', 'Dika', 'Farah', 'Heri']

#### Mengakses nilai dalam list

In [8]:
print(list_nama[0])

Annisa

In [9]:
list_nama[0:3]

['Annisa', 'Budiman', 'Dika']

In [10]:
print(list_nama[-1])

Heri

In [11]:
print(list_nama[-3:-1])

['Dika', 'Farah']

### 1.2 - Tuple<br><br>A tuple is a collection which is ordered and unchangeable.

### 1.3 - Set<br><br>A set is a collection which is both unordered and unindexed.

### 1.4- Dictionary<br><br>A dictionary is a collection which is ordered*, changeable and does not allow duplicates.<br><br>As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

## 2. Intermediate Collectionary Data Types

In [12]:
import collections

### 2.1 - Counter

In [13]:
random_list = [1,1,1,2,2,2,3,3,3,3,4,4,4,4,4]

count = collections.Counter(random_list)
print(count)

Counter({4: 5, 3: 4, 1: 3, 2: 3})

In [14]:
print(count.most_common())

[(4, 5), (3, 4), (1, 3), (2, 3)]

In [15]:
print(count.most_common(1))

[(4, 5)]

### 2.2 - DefaultDict

In [16]:
dd = collections.defaultdict(int)
print(dd)

defaultdict(<class 'int'>, {})

In [17]:
list_value = [1,2,3,4,5,6,6,4,2,1,3,1,3,5,2,6,2,2,1,1]

for item in list_value:
    dd[item] += 1
    
print(dd)

defaultdict(<class 'int'>, {1: 5, 2: 5, 3: 3, 4: 2, 5: 2, 6: 3})

In [18]:
d_list = collections.defaultdict(list)
print(d_list)

defaultdict(<class 'list'>, {})

In [19]:
for n in range(10):
    d_list[n].append(n*2)
    
print(d_list)

defaultdict(<class 'list'>, {0: [0], 1: [2], 2: [4], 3: [6], 4: [8], 5: [10], 6: [12], 7: [14], 8: [16], 9: [18]})

In [20]:
d_int = collections.defaultdict(int)
print(d_int)
print(d_int.default_factory)

defaultdict(<class 'int'>, {})
<class 'int'>

In [21]:
for n in range(10):
    d_int[n] += n**2

print(d_int)

defaultdict(<class 'int'>, {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81})

In [22]:
roti = {
    'ketan':2000,
    'coklat kacang':5000
}

roti_isi = collections.defaultdict(lambda:4000, roti)

print(roti_isi)
print(roti_isi.default_factory)

defaultdict(<function <lambda> at 0x000002997D2BDD30>, {'ketan': 2000, 'coklat kacang': 5000})
<function <lambda> at 0x000002997D2BDD30>

In [23]:
print("Harga Roti Isi Coklat : ",roti_isi['coklat'])
print("Harga Roti Isi Ketan : ",roti_isi['ketan'])

Harga Roti Isi Coklat :  4000
Harga Roti Isi Ketan :  2000

In [24]:
def alternate():
    return "Maaf, Data Roti Tidak Tersedia"

def_func = collections.defaultdict(alternate,roti)

In [25]:
print("Harga Roti Isi Coklat : ",def_func['coklat'])
print("Harga Roti Isi Ketan : ",def_func['ketan'])

Harga Roti Isi Coklat :  Maaf, Data Roti Tidak Tersedia
Harga Roti Isi Ketan :  2000

In [26]:
print(def_func.items())

dict_items([('ketan', 2000), ('coklat kacang', 5000), ('coklat', 'Maaf, Data Roti Tidak Tersedia')])

### 2.3 - NamedTuple

In [27]:
from collections import namedtuple

In [28]:
help(namedtuple)

Help on function namedtuple in module collections:

namedtuple(typename, field_names, *, rename=False, defaults=None, module=None)
    Returns a new subclass of tuple with named fields.

    >>> Point = namedtuple('Point', ['x', 'y'])
    >>> Point.__doc__                   # docstring for the new class
    'Point(x, y)'
    >>> p = Point(11, y=22)             # instantiate with positional args or keywords
    >>> p[0] + p[1]                     # indexable like a plain tuple
    33
    >>> x, y = p                        # unpack like a regular tuple
    >>> x, y
    (11, 22)
    >>> p.x + p.y                       # fields also accessible by name
    33
    >>> d = p._asdict()                 # convert to a dictionary
    >>> d['x']
    11
    >>> Point(**d)                      # convert from a dictionary
    Point(x=11, y=22)
    >>> p._replace(x=100)               # _replace() is like str.replace() but targets named fields
    Point(x=100, y=22)

In [29]:
nt = namedtuple('Mahasiswa',['nama','bp','kelas_awal'])
budi = nt(nama="Budi",bp=20,kelas_awal='A')

In [30]:
print(budi)

Mahasiswa(nama='Budi', bp=20, kelas_awal='A')

In [31]:
ani = nt("Ani",19,"B")
print(ani)

Mahasiswa(nama='Ani', bp=19, kelas_awal='B')

In [32]:
print(ani.nama)

Ani

## 3. Bonus

In [33]:
import pandas as pd
import collections
from pprint import pprint

In [34]:
chicago_crime = pd.read_csv('https://raw.githubusercontent.com/KelvinMulyawan/Gudang/master/crime_sampler.csv')
chicago_crime.head()

,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,District
0,05/23/2016 05:35:00 PM,024XX W DIVISION ST,ASSAULT,SIMPLE,STREET,False,True,14
1,03/26/2016 08:20:00 PM,019XX W HOWARD ST,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,False,False,24
2,04/25/2016 03:05:00 PM,001XX W 79TH ST,THEFT,RETAIL THEFT,DEPARTMENT STORE,True,False,6
3,04/26/2016 05:30:00 PM,010XX N PINE AVE,BATTERY,SIMPLE,SIDEWALK,False,False,15
4,06/19/2016 01:15:00 AM,027XX W AUGUSTA BLVD,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,12

In [35]:
chicago_crime['Date'].dtype

dtype('O')

In [36]:
chicago_crime['Date'] = pd.to_datetime(chicago_crime['Date'])
chicago_crime['Date'].dtype

dtype('<M8[ns]')

In [37]:
chicago_crime['Date'].head()

0   2016-05-23 17:35:00
1   2016-03-26 20:20:00
2   2016-04-25 15:05:00
3   2016-04-26 17:30:00
4   2016-06-19 01:15:00
Name: Date, dtype: datetime64[ns]

In [38]:
chicago_crime.head()

,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,District
0,2016-05-23 17:35:00,024XX W DIVISION ST,ASSAULT,SIMPLE,STREET,False,True,14
1,2016-03-26 20:20:00,019XX W HOWARD ST,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,False,False,24
2,2016-04-25 15:05:00,001XX W 79TH ST,THEFT,RETAIL THEFT,DEPARTMENT STORE,True,False,6
3,2016-04-26 17:30:00,010XX N PINE AVE,BATTERY,SIMPLE,SIDEWALK,False,False,15
4,2016-06-19 01:15:00,027XX W AUGUSTA BLVD,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,12

In [39]:
chicago_crime.shape

(15000, 8)

In [40]:
arrest_or_not = collections.Counter(chicago_crime['Arrest'])
print(arrest_or_not)

Counter({False: 12139, True: 2861})

In [41]:
for date in chicago_crime['Date'].head():
    print(date.month)

5
3
4
4
6

In [42]:
crime_month = collections.Counter()

for date in chicago_crime['Date']:
    crime_month[date.month] += 1
    
pprint(crime_month.most_common(5))

[(1, 1948), (2, 1862), (7, 1257), (3, 1223), (8, 1218)]

In [43]:
loc = collections.Counter()

for lokasi in chicago_crime['Location Description']:
    loc[lokasi] += 1
    
pprint(loc.most_common(5))

[('STREET', 3393),
 ('RESIDENCE', 2493),
 ('APARTMENT', 2020),
 ('SIDEWALK', 1282),
 ('OTHER', 630)]

In [44]:
chicago_crime.head()

,Date,Block,Primary Type,Description,Location Description,Arrest,Domestic,District
0,2016-05-23 17:35:00,024XX W DIVISION ST,ASSAULT,SIMPLE,STREET,False,True,14
1,2016-03-26 20:20:00,019XX W HOWARD ST,BURGLARY,FORCIBLE ENTRY,SMALL RETAIL STORE,False,False,24
2,2016-04-25 15:05:00,001XX W 79TH ST,THEFT,RETAIL THEFT,DEPARTMENT STORE,True,False,6
3,2016-04-26 17:30:00,010XX N PINE AVE,BATTERY,SIMPLE,SIDEWALK,False,False,15
4,2016-06-19 01:15:00,027XX W AUGUSTA BLVD,BATTERY,AGGRAVATED: HANDGUN,SIDEWALK,False,False,12

Jumlah yang di-arrest per block

In [45]:
jumlah_arrest_per_block = collections.Counter()

for block, arrest in zip(chicago_crime.Block,chicago_crime.Arrest):
    if arrest == True:
        jumlah_arrest_per_block[block] += 1
    else:
        pass
    
pprint(jumlah_arrest_per_block.most_common(3))

[('001XX N STATE ST', 31),
 ('076XX S CICERO AVE', 11),
 ('083XX S STEWART AVE', 10)]