<a href="https://colab.research.google.com/github/KelvinMulyawan/Pythonista/blob/main/Notebook/Finance/Intermediate%20Python%20for%20Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1 - Datetimes and Dictionaries

In [1]:
from datetime import datetime
black_monday = datetime(1987, 10, 19)
print(black_monday)

1987-10-19 00:00:00

In [2]:
print(datetime.now())

2021-10-28 06:07:24.008446

In [3]:
crash_text = "Friday the 13th, Oct, 1989"

# Create a format string mapping the text
crash_format_str = "%A the %dth, %b, %Y"
min_crash = datetime.strptime(crash_text, crash_format_str)
print(min_crash)

recession_text = "07/03/90"

# Create format string
recession_format_str = "%m/%d/%y"

# Create datetime from text using format string
nineties_rec = datetime.strptime(recession_text, recession_format_str)
print(nineties_rec)

1989-10-13 00:00:00
1990-07-03 00:00:00

In [4]:
org_text = "Sep 16 1992"

# Format string for original text
org_format = "%b %d %Y"

# Create datetime for Black Wednesday
black_wednesday = datetime.strptime(org_text, org_format)
print(black_wednesday)

# New format: 'Wednesday, September 16, 1992'
new_format = "%A, %B %d, %Y"

# String in new format
new_text = black_wednesday.strftime(new_format)
print(new_text)

1992-09-16 00:00:00
Wednesday, September 16, 1992

In [5]:
# March 10, 2000 Tech Bubble Crash
tech_bubble = datetime(2000, 3, 10)

# Access the year
yr  = tech_bubble.year

# Access the month
mth = tech_bubble.month

# Access the day
day = tech_bubble.day

print(f"Year: {yr}, Month: {mth}, Day: {day}")

Year: 2000, Month: 3, Day: 10

In [6]:
lehman = datetime(2008, 9, 15, 0, 0)
morgan_stanley = datetime(2008, 9, 22, 0, 0)

# Lehman Brothers before Morgan Stanley?
lehman_first = lehman < morgan_stanley

print(f"It is {lehman_first} that Lehman Brothers declared bankruptcy first.")

It is True that Lehman Brothers declared bankruptcy first.

In [7]:
goldman_sachs = datetime(2008, 9, 22, 0, 0)
tarp = datetime(2008, 10, 3, 0, 0)

# Goldman Sachs after TARP?
tarp_first = goldman_sachs > tarp

print(f"It is {tarp_first} that TARP was approved first.")

It is False that TARP was approved first.

In [8]:
# Goldman Sachs and Morgan Stanley same day?
same_time = goldman_sachs == morgan_stanley

print(f"It is {same_time} that Morgan Stanley and Goldman Sachs acted simultaneously")

It is True that Morgan Stanley and Goldman Sachs acted simultaneously

In [9]:
from datetime import timedelta

# TARP passed Oct 3 2008
tarp = datetime(2008, 10, 3)

# Seven days before TARP
week_before = tarp - timedelta(days = 7)

# Print week_before
print(week_before)

2008-09-26 00:00:00

In [10]:
tarp = datetime(2008, 10, 3)

# One week after TARP
week_after = tarp + timedelta(weeks = 1)

# Print week_after
print(week_after)

2008-10-10 00:00:00

In [11]:
tarp = datetime(2008, 10, 3)

year_after = tarp + timedelta(weeks = 52)

print(year_after)

2009-10-02 00:00:00

In [12]:
cusip_lookup = {}

# Alphabet
cusip_lookup['38259P706'] = 'GOOG'

print(cusip_lookup)

{'38259P706': 'GOOG'}

In [13]:
cusip_lookup = {}

# Alphabet
cusip_lookup['38259P706'] = 'GOOG'

# Apple
cusip_lookup['037833100'] = 'AAPL'

print(cusip_lookup)

{'38259P706': 'GOOG', '037833100': 'AAPL'}

In [14]:
cusip_lookup = {}

# Alphabet
cusip_lookup['38259P706'] = 'GOOG'

# Apple
cusip_lookup['037833100'] = 'AAPL'

print(cusip_lookup)

{'38259P706': 'GOOG', '037833100': 'AAPL'}

In [15]:
closing_price_date = datetime(2019, 8, 2, 0, 0)

alphabet_hist = {datetime(2019, 7, 30, 0, 0): 1228,
                 datetime(2019, 7, 31, 0, 0): 1218.2,
                 datetime(2019, 8, 1, 0, 0): 1211.78,
                 datetime(2019, 8, 2, 0, 0): 1196.32}

# Closing price for day before
day_before_closing_price_date = closing_price_date - timedelta(days=1)

# Safely print closing price day before or None if it's missing
print(alphabet_hist.get(day_before_closing_price_date))

1211.78

In [16]:
future_closing_price_date = closing_price_date + timedelta(weeks=8)

print(alphabet_hist.get(future_closing_price_date, 'Missing'))

Missing

In [17]:
print(alphabet_hist)

del(alphabet_hist[closing_price_date])

print(alphabet_hist)

{datetime.datetime(2019, 7, 30, 0, 0): 1228, datetime.datetime(2019, 7, 31, 0, 0): 1218.2, datetime.datetime(2019, 8, 1, 0, 0): 1211.78, datetime.datetime(2019, 8, 2, 0, 0): 1196.32}
{datetime.datetime(2019, 7, 30, 0, 0): 1228, datetime.datetime(2019, 7, 31, 0, 0): 1218.2, datetime.datetime(2019, 8, 1, 0, 0): 1211.78}

### 2 - Control Flow and Logic

In [18]:
cash = 19.11
non_cash = 20.33

# Check if cash is equal to securities
print(cash == non_cash)

# Assign the value of securities to cash
cash = non_cash

# Check if cash is equal to securities
print(cash == non_cash)

False
True

In [19]:
d1 = 323

d2 = 489

# Check dividend is greater than zero
print(d2 > 0)

# Is dividend 1 is greater than dividend 2?
print(d1 > d2)

True
False

In [20]:
# Check dividend 1 is at least 100
print(d1 >= 100)

# Check dividend 2 is at least as much dividend 1
print(d1 <= d2)

True
True

In [21]:
is_investment_account = True
balance_positive = True

# Print the given variables
print(is_investment_account)
print(balance_positive)

# Decide if this account is cantidate for trading advice
potential_trade = is_investment_account and balance_positive

# Print if this represents a potential trade
print(potential_trade)

True
True
True

In [22]:
input_action = ""

# Assign a default action if no input
action = input_action or "Hold"

# Print the action
print(action)

is_trading_day = False

# Assign action only if trades can be made
do_action = is_trading_day and action

# Print the action to do
print(do_action)

Hold
False

In [23]:
closing_prices = []

print(closing_prices)

# Assigning True if we need to get the prices
not_prices = not closing_prices

print(not_prices)

market_closed = False

# Get prices if market is closed and we don't have prices
get_prices = not (market_closed and not_prices)

print(get_prices)

[]
True
True

In [24]:
sales = []

purchases = []

# Get number of purchases
num_purchases = len(purchases)
# Get number of sales
num_sales = len(sales)

# Check if more sales than purchases
if num_purchases < num_sales:
  print('buy more')
else:
  print("No sales or purchases")

No sales or purchases

In [25]:
sales = []

purchases = []

# Get number of purchases
num_purchases = len(purchases)
# Get number of sales
num_sales = len(sales)

# Check if more sales than purchases
if num_purchases < num_sales:
  print('sale more')
else:
  print("No sales or purchases")

No sales or purchases

In [26]:
# Get number of purchases
num_purchases = len(purchases)
# Get number of sales
num_sales = len(sales)

# Check if both lists are empty
if not (purchases or sales):
  print('No sales or purchases')

No sales or purchases

In [27]:
appl = []
tsla = []
amzn = []

trn = {'amount': 300, 'symbol': 'APPL', 'type': 'DIVIDEND'}

# Get the symbol value
symbol = trn['symbol']

# Check if Apple stock
if symbol == 'APPL':
  appl.append(trn)

In [28]:
# Get the symbol value
symbol = trn['symbol']

# Check if Apple stock
if symbol == 'APPL':
    appl.append(trn)
# Check if Tesla stock
elif symbol == 'TSLA':
    tsla.append(trn)
# Check if Amazon stock
elif symbol == 'AMZN':
    amzn.append(trn)

In [29]:
# Get the symbol value
symbol = trn['symbol']

# Check if Apple stock
if symbol == 'APPL':
  appl.append(trn)
# Check if Tesla stock
elif symbol == 'TSLA':
  tsla.append(trn)
# Check if Amazon stock
elif symbol == 'AMZN':
  amzn.append(trn)
# Handle other companies
else:
  print(symbol)

In [30]:
balance = 1229

buys = [{'symbol': 'AAPL', 'total_cost': 900},{'symbol': 'ORCL', 'total_cost': 300},{'symbol': 'CSCO', 'total_cost': 200}]

# Loop through buys
for buy in buys:
    print('Buying ' + buy['symbol'])
    new_balance = balance - buy['total_cost']
    balance = new_balance

print(balance)

Buying AAPL
Buying ORCL
Buying CSCO
-171

In [31]:
for buy in buys:
    print('Buying ' + buy['symbol'])
    new_balance = balance - buy['total_cost']
    if new_balance < 0:
        print('Unable to finish buys')
        break
    balance = new_balance

print(balance)

Buying AAPL
Unable to finish buys
-171

### 3 - Pandas Dataframe

In [34]:
import pandas as pd

# Create dict holding the data
data = {'Sym': ['APPL', 'APPL', 'APPL'],
        'Price': [105.00, 117.05, 289.80],
        'Date': ['2015/12/31', '2017/12/01', '2019/12/27']}

# Create DataFrame from the data
positions = pd.DataFrame(data=data)
print(positions)

    Sym   Price        Date
0  APPL  105.00  2015/12/31
1  APPL  117.05  2017/12/01
2  APPL  289.80  2019/12/27

In [35]:
# Make list of dictionaries
data = [{'Sym': 'APPL', 'Price': 105.00, 'Date': '2015/12/31'},
        {'Sym': 'APPL', 'Price': 117.05, 'Date': '2017/12/01'},
        {'Sym': 'APPL', 'Price': 289.80, 'Date': '2019/12/27'}]

# Create DataFrame from the list
positions = pd.DataFrame(data=data)
print(positions)

    Sym   Price        Date
0  APPL  105.00  2015/12/31
1  APPL  117.05  2017/12/01
2  APPL  289.80  2019/12/27

In [36]:
# Create a list of lists
data = [['APPL', 105.00, '2015/12/31'],
        ['APPL', 117.05, '2017/12/01'],
        ['APPL', 289.80, '2019/12/27']]


# Define the column names
columns = ['Sym', 'Price', 'Date']

# Create a DataFrame with the data and column names
positions = pd.DataFrame(data=data, columns=columns)
print(positions)

    Sym   Price        Date
0  APPL  105.00  2015/12/31
1  APPL  117.05  2017/12/01
2  APPL  289.80  2019/12/27

### 4 - Working with NASDAQ Stock Data