<a href="https://colab.research.google.com/github/KelvinMulyawan/Pythonista/blob/main/Notebook/Finance/Intermediate%20Python%20for%20Finance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1 - Datetimes and Dictionaries

In [1]:
from datetime import datetime
black_monday = datetime(1987, 10, 19)
print(black_monday)

1987-10-19 00:00:00

In [2]:
print(datetime.now())

2021-10-26 14:01:54.606227

In [5]:
crash_text = "Friday the 13th, Oct, 1989"

# Create a format string mapping the text
crash_format_str = "%A the %dth, %b, %Y"
min_crash = datetime.strptime(crash_text, crash_format_str)
print(min_crash)

recession_text = "07/03/90"

# Create format string
recession_format_str = "%m/%d/%y"

# Create datetime from text using format string
nineties_rec = datetime.strptime(recession_text, recession_format_str)
print(nineties_rec)

1989-10-13 00:00:00
1990-07-03 00:00:00

In [6]:
org_text = "Sep 16 1992"

# Format string for original text
org_format = "%b %d %Y"

# Create datetime for Black Wednesday
black_wednesday = datetime.strptime(org_text, org_format)
print(black_wednesday)

# New format: 'Wednesday, September 16, 1992'
new_format = "%A, %B %d, %Y"

# String in new format
new_text = black_wednesday.strftime(new_format)
print(new_text)

1992-09-16 00:00:00
Wednesday, September 16, 1992

In [7]:
# March 10, 2000 Tech Bubble Crash
tech_bubble = datetime(2000, 3, 10)

# Access the year
yr  = tech_bubble.year

# Access the month
mth = tech_bubble.month

# Access the day
day = tech_bubble.day

print(f"Year: {yr}, Month: {mth}, Day: {day}")

Year: 2000, Month: 3, Day: 10

In [11]:
lehman = datetime(2008, 9, 15, 0, 0)
morgan_stanley = datetime(2008, 9, 22, 0, 0)

# Lehman Brothers before Morgan Stanley?
lehman_first = lehman < morgan_stanley

print(f"It is {lehman_first} that Lehman Brothers declared bankruptcy first.")

It is True that Lehman Brothers declared bankruptcy first.

In [12]:
goldman_sachs = datetime(2008, 9, 22, 0, 0)
tarp = datetime(2008, 10, 3, 0, 0)

# Goldman Sachs after TARP?
tarp_first = goldman_sachs > tarp

print(f"It is {tarp_first} that TARP was approved first.")

It is False that TARP was approved first.

In [13]:
# Goldman Sachs and Morgan Stanley same day?
same_time = goldman_sachs == morgan_stanley

print(f"It is {same_time} that Morgan Stanley and Goldman Sachs acted simultaneously")

It is True that Morgan Stanley and Goldman Sachs acted simultaneously

In [15]:
from datetime import timedelta

# TARP passed Oct 3 2008
tarp = datetime(2008, 10, 3)

# Seven days before TARP
week_before = tarp - timedelta(days = 7)

# Print week_before
print(week_before)

2008-09-26 00:00:00

In [17]:
tarp = datetime(2008, 10, 3)

# One week after TARP
week_after = tarp + timedelta(weeks = 1)

# Print week_after
print(week_after)

2008-10-10 00:00:00

In [18]:
tarp = datetime(2008, 10, 3)

year_after = tarp + timedelta(weeks = 52)

print(year_after)

2009-10-02 00:00:00

### 2 - Control Flow and Logic

In [19]:
cusip_lookup = {}

# Alphabet
cusip_lookup['38259P706'] = 'GOOG'

print(cusip_lookup)

{'38259P706': 'GOOG'}

In [20]:
cusip_lookup = {}

# Alphabet
cusip_lookup['38259P706'] = 'GOOG'

# Apple
cusip_lookup['037833100'] = 'AAPL'

print(cusip_lookup)

{'38259P706': 'GOOG'}

In [21]:
cusip_lookup = {}

# Alphabet
cusip_lookup['38259P706'] = 'GOOG'

# Apple
cusip_lookup['037833100'] = 'AAPL'

print(cusip_lookup)

{'38259P706': 'GOOG'}

In [24]:
closing_price_date = datetime(2019, 8, 2, 0, 0)

alphabet_hist = {datetime(2019, 7, 30, 0, 0): 1228,
                 datetime(2019, 7, 31, 0, 0): 1218.2,
                 datetime(2019, 8, 1, 0, 0): 1211.78,
                 datetime(2019, 8, 2, 0, 0): 1196.32}

# Closing price for day before
day_before_closing_price_date = closing_price_date - timedelta(days=1)

# Safely print closing price day before or None if it's missing
print(alphabet_hist.get(day_before_closing_price_date))

1211.78

In [25]:
future_closing_price_date = closing_price_date + timedelta(weeks=8)

print(alphabet_hist.get(future_closing_price_date, 'Missing'))

Missing

In [26]:
print(alphabet_hist)

del(alphabet_hist[closing_price_date])

print(alphabet_hist)

{datetime.datetime(2019, 7, 30, 0, 0): 1228, datetime.datetime(2019, 7, 31, 0, 0): 1218.2, datetime.datetime(2019, 8, 1, 0, 0): 1211.78, datetime.datetime(2019, 8, 2, 0, 0): 1196.32}
{datetime.datetime(2019, 7, 30, 0, 0): 1228, datetime.datetime(2019, 7, 31, 0, 0): 1218.2, datetime.datetime(2019, 8, 1, 0, 0): 1211.78}

### 3 - Pandas Dataframe

### 4 - Working with NASDAQ Stock Data