In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/KelvinMulyawan/Gudang/master/sector.txt"

sp_500 = pd.read_csv(url,sep=",")

In [2]:
sp_500.head()

                  Name                  Sector   Price    EPS
0            Apple Inc  Information Technology  170.12   9.20
1           Abbvie Inc             Health Care   93.29   5.31
2  Abbott Laboratories             Health Care   55.28   2.41
3        Accenture Plc  Information Technology  145.30   5.91
4         Allergan Plc             Health Care  171.81  15.42