In [1]:
import pandas as pd
import os

def covid_data(path,new_column_name):
    main_path = '../Data/Covid'
    url = os.path.join(main_path, path)
    data = pd.read_excel(url)
    data_jakarta = data[['Datetime','DKI_JAKARTA']].set_index('Datetime').rename(columns={'DKI_JAKARTA':new_column_name})
    return data_jakarta

In [2]:
dirawat = covid_data('Data_dirawat2.xlsx','dirawat')
dirawat.head()

                     dirawat
Datetime
2020-03-01 07:00:00        2
2020-03-02 07:00:00        2
2020-03-03 07:00:00        2
2020-03-04 07:00:00        2
2020-03-05 07:00:00       -1

In [3]:
kasus = covid_data('Data_kasus2.xlsx','kasus')
kasus.head()

                     kasus
Datetime
2020-03-01 07:00:00      2
2020-03-02 07:00:00      2
2020-03-03 07:00:00      2
2020-03-04 07:00:00      2
2020-03-05 07:00:00      0

In [4]:
meninggal = covid_data('Data_meninggal2.xlsx','meninggal')
meninggal.head()

                     meninggal
Datetime
2020-03-01 07:00:00          0
2020-03-02 07:00:00          0
2020-03-03 07:00:00          0
2020-03-04 07:00:00          0
2020-03-05 07:00:00          1

In [5]:
sembuh = covid_data('Data_sembuh2.xlsx','sembuh')
sembuh.head()

                     sembuh
Datetime
2020-03-01 07:00:00       0
2020-03-02 07:00:00       0
2020-03-03 07:00:00       0
2020-03-04 07:00:00       0
2020-03-05 07:00:00       0

In [6]:
satu = pd.merge(kasus,dirawat,on="Datetime")
dua = pd.merge(satu,sembuh,on="Datetime")
data = pd.merge(dua,meninggal,on="Datetime")

data.head()

                     kasus  dirawat  sembuh  meninggal
Datetime
2020-03-01 07:00:00      2        2       0          0
2020-03-02 07:00:00      2        2       0          0
2020-03-03 07:00:00      2        2       0          0
2020-03-04 07:00:00      2        2       0          0
2020-03-05 07:00:00      0       -1       0          1

In [7]:
data.to_csv('dki_jakarta_coronavirus.csv')

#### Data Conclusion

<ol>
    <li>Data Dirawat</li>
        <ol>
            <li>Pada data dirawat, terdapat min value, dimana itu berarti adanya pengurangan pasien di Faskes Coronavirus DKI Jakarta, contoh, pada 14 September 2021, terdapat 313 orang sembuh</li>
        </ol>
</ol>