In [1]:
import pandas as pd
insurance = pd.read_csv('../../../Gudang/insurance.csv')
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [15]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [14]:
smoker = insurance['smoker']=='yes'
female = insurance['sex']=='female'

insurance[smoker & female][['charges']].mean()

charges    30678.996276
dtype: float64

In [17]:
anak = insurance['children']==1
umur = insurance['age']==64

insurance[anak & umur]

     age     sex    bmi  children smoker     region      charges
62    64    male  24.70         1     no  northwest  30166.61817
328   64  female  33.80         1    yes  southwest  47928.03000
418   64    male  39.16         1     no  southeast  14418.28040

In [21]:
insurance['region'].str.startswith('north')

0       False
1       False
2       False
3        True
4        True
        ...
1333     True
1334     True
1335    False
1336    False
1337     True
Name: region, Length: 1338, dtype: bool

In [23]:
insurance.loc[insurance['region'].str.startswith('north')]['bmi'].mean()

29.186664098613257