In [1]:
from datetime import date

### 1 - Dates and Calendars

In [2]:
today = date(2021, 10, 24)
print(today)

2021-10-24

In [3]:
print("Sekarang tanggal : {}\nBulan : {}\nTahun : {}".format(today.day,today.month,today.year))

Sekarang tanggal : 24
Bulan : 10
Tahun : 2021

In [4]:
print("Today : ",date.today())

Today :  2021-10-20

In [5]:
url = "https://github.com/KelvinMulyawan/Gudang/blob/master/florida_hurricane_dates.pkl?raw=true"

import pandas as pd

hurricane = pd.read_pickle(url)

In [6]:
hurricane[:5]

[datetime.date(1988, 8, 4),
 datetime.date(1990, 10, 12),
 datetime.date(2003, 4, 20),
 datetime.date(1971, 9, 1),
 datetime.date(1988, 8, 23)]

In [7]:
early = 0
late = 0
for hrcne in hurricane:
    if hrcne.month < 6:
        early += 1
    else:
        late += 1
        
print(early)
print(late)

10
225

#### Math and Dates

In [8]:
start = date(2021,10,10)
end = date(2021,10,21)

days = (end - start).days

print("Selisih Hari : {}".format(days))

Selisih Hari : 11

In [9]:
from collections import defaultdict

disaster = defaultdict(int)

for date in hurricane:
    disaster[date.month] += 1
    
print(disaster)

defaultdict(<class 'int'>, {8: 49, 10: 43, 4: 1, 9: 70, 5: 8, 6: 32, 7: 21, 11: 9, 12: 1, 2: 1})

In [10]:
first_date = min(hurricane)
print(first_date)

1950-08-31

In [11]:
print(first_date.isoformat())

1950-08-31

In [12]:
print(first_date.strftime("%m/%d/%Y"))

08/31/1950

In [13]:
print(first_date.strftime("%d-%m-%Y"))

31-08-1950

In [14]:
print(first_date.strftime("%m-%Y"))

08-1950

In [15]:
print(first_date.strftime("%B-%Y"))

August-1950

In [16]:
print(first_date.strftime("%A %B"))

Thursday August

### 2 - Combining Dates and Times

<p><b>ISO 8601 format</b></p>

In [17]:
from datetime import datetime

dt = datetime(2017, 10, 1, 15, 26, 26)

print(dt.isoformat())

2017-10-01T15:26:26

In [18]:
dt = dt.replace(year=2021)

print(dt.isoformat())

2021-10-01T15:26:26

In [19]:
url = "https://raw.githubusercontent.com/KelvinMulyawan/Gudang/master/capital-onebike.csv"

capital = pd.read_csv(url)

In [20]:
capital.head()

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2017-10-01 15:23:25,2017-10-01 15:26:26,31038,Glebe Rd & 11th St N,31036,George Mason Dr & Wilson Blvd,W20529,Member
1,2017-10-01 15:42:57,2017-10-01 17:49:59,31036,George Mason Dr & Wilson Blvd,31036,George Mason Dr & Wilson Blvd,W20529,Casual
2,2017-10-02 06:37:10,2017-10-02 06:42:53,31036,George Mason Dr & Wilson Blvd,31037,Ballston Metro / N Stuart & 9th St N,W20529,Member
3,2017-10-02 08:56:45,2017-10-02 09:18:03,31037,Ballston Metro / N Stuart & 9th St N,31295,Potomac & M St NW,W20529,Member
4,2017-10-02 18:23:48,2017-10-02 18:45:05,31295,Potomac & M St NW,31230,Metro Center / 12th & G St NW,W20529,Member

In [21]:
print(capital['Start date'].dtype)
print(capital['End date'].dtype)

object
object

In [22]:
capital['Start date'] = pd.to_datetime(capital['Start date'])
capital['End date'] = pd.to_datetime(capital['End date'])

In [23]:
print(capital['Start date'].dtype)
print(capital['End date'].dtype)

datetime64[ns]
datetime64[ns]

In [24]:
for cap in capital['Start date'].head(2):
    print(cap.month)

10
10

In [25]:
trip = {'AM':0,'PM':0}

for time in capital['Start date']:
    if time.hour < 12:
        trip['AM'] += 1
    else:
        trip['PM'] += 1
        
print(trip)

{'AM': 94, 'PM': 196}

In [26]:
from datetime import datetime

s = '2017-02-03 00:00:01'

fmt = '%Y-%m-%d %H:%M:%S'

d = datetime.strptime(s, fmt)

print(d)

2017-02-03 00:00:01

In [27]:
print(type(d))

<class 'datetime.datetime'>

In [28]:
from datetime import datetime

s = '2030-10-15'

fmt = '%Y-%m-%d'

d = datetime.strptime(s, fmt)

print(d)

2030-10-15 00:00:00

In [29]:
s = '12/15/1986 08:00:00'

fmt = '%m/%d/%Y %H:%M:%S'

d = datetime.strptime(s, fmt)

print(d)

1986-12-15 08:00:00

In [30]:
s = "19/10/2021"

fmt = "%d/%B/%Y"

try:
    print(datetime.strptime(s,fmt))
except:
    print("Format harus sesuai s")

Format harus sesuai s

### 3 - Time Zones and Daylight Saving

### 4 - Easy and Powerful: Dates and Times in Pandas

### Referensi

<ol>
    <li><a href="https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes">Format Time</a></li>
</ol>